h1,
h2,
h3 {
    font-family: "Geomanist", sans-serif;
    font-weight: bold;
    color: $color-lackey-light-blue;
}

h1 {
    font-size: $header-1-font-size;
}

h2 {
    font-size: $header-2-font-size;
}

h3 {
    font-size: $header-3-font-size;
}
