$color-pink: #fc1aa3;
$color-sun: #fd9526;
$color-yellow: #feee5a;
$color-green: #59feca;
$color-purple: #9322e8;
$color-dark-gray: #575757;
$color-light-gray: lighten($color-dark-gray, 30%);
$color-white: #f5f5f5;
