$color-pink: #fc1aa3;
$color-red: #fc0000;
$color-sun: #fd9526;
$color-yellow: #feee5a;
$color-green: #59feca;
$color-blue: #3cd4f2;
$color-purple: #9322e8;
$color-dark-gray: #575757;
$color-light-gray: lighten($color-dark-gray, 30%);
$color-lightest-gray: lighten($color-dark-gray, 60%);
$color-white: #FAFBFC;
$color-black: #333;
$color-background: #385573;
$color-background-accent: #1E3B5D;
$color-background-highlight: #00CBFE;
$color-washed: #5F799C;
$hamburger-padding-x: 26px !default;
$hamburger-padding-y: 28px !default;
$hamburger-layer-width: 20px !default;
$hamburger-layer-height: 3px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-hover-transition-duration: 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;
$speed: 0.5s;
$header-height: 75px;
$sidebar-width: 260px;
$item-height: 60px;
$settings-pick-width: 285px;
$settings-edit-width: 340px;
$settings-breadcrumb-height: 63px;
$switch-width: 25px;
$switch-height: 20px;

$color-lackey-blue: #00ABFC;
$color-lackey-light-blue: #00CBFF;
$color-lackey-ligher-blue: #ACEEFF;
$color-lackey-gray: #3A5675;
$color-lackey-light-gray: #6F8BAC;
$color-lackey-dark-gray: #1E3B5E;
$color-lackey-darker-gray: #0B223E;

$default-font-family: 'Roboto', sans-serif;
$default-font-size: 14px;
$table-font-size: 13px;
$default-header-font-family: "Geomanist", sans-serif;
$header-1-font-size: 65px;
$header-2-font-size: 34px;
$header-3-font-size: 18px;
