.lackey-cms {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    @import "_vars";
    @import "_partials/header";
    @import "_partials/overlay";
    @import "_partials/treeview";
    @import "_partials/image-manager/main";
    @import "_partials/diff";
    @import "_partials/_structure/main";
    @import "_partials/_page-create";
    height: 100%;
    display: flex;
    flex-direction: column;
    & + * {
        margin-top: 50px;
    }
    ul,
    ol,
    li {
        line-height: 1;
    }
    button {
        /*padding: 0px !important;*/
    }
    iframe {
        width: 100%;
        flex-grow: 1;
        border: none;
    }
    .overlay {
        overflow-y: auto;
        display: none;
    }

    .bt {
        @import "_bootstrap/bootstrap.scss";

        .btn {
            padding: 0.375rem 1rem !important;
        }
    }

    .avatar > img {
        border: 2px solid #f5f5f5;
        border-radius: 3px;
        height: 300px;
        width: 300px;
    }
}

body {
    margin: 0px;
    padding: 0px;
}
