*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import "_vars";
@import "_partials/_growl";
@import "_partials/_structure";
@import "_partials/_tags";
@import "_partials/_blocks";
@import "_partials/_autocomplete";
@import "_partials/_diff";
@import "_partials/_toolTip";
@import "_partials/_anonymous";
@import "_partials/_login";
@import "_partials/_account-details";
@import "_partials/_context-user";
@import "_partials/_context-content";
@import "_calendar";

[data-lky-busy] {
    opacity: 0;
    pointer-events: none;
}

[data-lky-btn],
[data-lky-btn-inverted] {
    font-size: 13px;
    padding: 6px 10px;
    text-decoration: none;
    cursor: default;
}

[data-lky-btn] {
    border: none;
    background: $color-lackey-light-blue;
    color: white;
}

[data-lky-btn]:disabled {
    background: $color-lackey-gray;
    color: lighten($color-lackey-gray, 50%);
}

[data-lky-btn-inverted] {
    border: 1px solid $color-background-highlight;
    color: $color-lackey-light-blue;
    background: white;
}

[data-lky-input] {
    border: 1px solid $color-background-highlight;
    color: $color-light-gray;
    border-radius: 4px;
    padding: 8px 10px;
    width: 250px;
    &[data-lky-btn] {
        border: 1px solid white;
    }
}

[data-lky-panel] {
    width: 30%;
    float: left;
    display: block;
    border: 1px solid $color-lightest-gray;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 10px;
    > h3 {
        margin-top: 0px;
    }
    > [data-lky-chart] {
        height: 300px;
    }
}

[data-lky-component="content"] {
    max-width: 1200px;
    margin: auto;
}
