@import "_vars";
[data-lky-component="profile"] {
    >form {
        > label {
            display: block;
            > input,
            > textarea,
            > select,
            > ul {
                display: block;
            }
        }
    }
    input,
    textarea,
    select {
        width: 100%;
        padding: 10px;
        font-size: 12px;
        margin: 10px 5px;
        border-radius: 3px;
        border: 1px solid #aaa;
    }
    pre > {
        width: 100%;
    }
    label {
        > div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: stretch;
            > input {
                order: 0;
                flex: 1 1 auto;
                align-self: auto;
            }
            > button {
                order: 0;
                flex: 0 1 auto;
                align-self: auto;
                border: 1px solid $color-lackey-light-blue;
                background-color: $color-lackey-light-blue;
                color: white;
                padding: 5px 10px;
                margin-right: 5px;
            }
        }
    }
    .badges {
        list-style: none;
        padding: 0px;

        > li {
            display: inline-block;
            background: $color-background-highlight;
            border: 0;
            color: #ffffff;
            padding: 0.2rem 0.5rem;
            margin: 0 0 0.5rem 0.5rem;
            cursor: pointer;
            font-size: 0.6rem;

            &:first-of-type {margin-left: 0;}

            &:focus { outline:0; }

            &::after {
                font-family: Arial;
                content: "×";
                font-weight: bold;
                font-size: 0.8rem;
                margin-left: 1rem;
            }

            &.disabled {
                background-color: $color-washed;
                border-color: $color-washed;
            }

            &.action {
                background-color: #ffffff;
                border: 1px solid $color-lackey-light-blue;
                color: $color-lackey-light-blue;
                cursor: pointer;

                 &::after {
                    content: "";
                    margin:0;
                }
            }

//            > a {
//                margin-left: 5px;
//                cursor: pointer;
//            }
        }
    }

    table {
        border-spacing: 0px;
        border-collapse: collapse;
        width: 100%;
        font-size: $table-font-size;
        > thead {
            background-color: $color-background-highlight;
            color: #ffffff;
        }
        td,
        th {
            border: none;
            text-align: left;
            a,
            button {
                display: inline-block;
                background: transparent;
                margin-left: 5px;
            }
        }
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            button {
                border: none;
            }
            &:nth-child(odd) {
                background-color: lighten($color-background-highlight, 45%);
            }
        }
        th {
            padding: 25px 8px 20px;
            font-weight: normal;
            text-transform: capitalize;
        }
        td {
            padding: 10px 8px 8px;
            color: $color-washed;
        }
        > tbody {
            > tr:nth-child(even) {
                background-color: $color-lightest-gray;
                td,
                th {
                    &:nth-child(odd) {
                        background-color: lighten($color-lightest-gray, 30%);
                    }
                }
            }
        }
    }
}
