@import "_vars";
@import "_content-gallery";
@import "_partials/_content-filter";
@import "_partials/_table-header";

.table-wrapper {
    margin: 0 2rem;
    overflow-x: auto;
}

[data-lky-component="table"] {
    overflow-y: auto;

    > h2 {
        padding: 0 0 0 2rem;
        text-transform: capitalize;
    }

    > select {
        border: 1px solid $color-background-highlight;
        color: $color-light-gray;
        border-radius: 30px;
        padding: 8px 10px;
        width: 250px;
        height: 30px;
    }

    form > label {
        margin: 0px 150px 15px;
        display: block;
        span {
            font-weight: bolder;
            padding: 0px 0px 5px;
            display: block;
        }
        input {
            display: block;
            width: 100%;
        }
        input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }
    }

    > input[type="search"] {
        border: 1px solid $color-background-highlight;
        color: $color-light-gray;
        border-radius: 30px;
        padding: 8px 10px;
        width: 250px;
    }

    .overflow {
        margin: 0 2rem 0 0;
        padding-top: 0.4rem
    }


    // TABLE STYLES //

    table {
        transition: opacity $speed;
        border-spacing: 0px;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        font-size: $table-font-size;
        margin: 20px auto;

        td,
        th {
            border: none;
            text-align: left;
            > img {
                height: auto;
                width: 100px;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            }
            a,
            button {
                display: inline-block;
                background: transparent;
                margin-left: 5px;
            }
            &[data-direction="desc"] {
                &:after {
                    font-family: 'sans-serif';
                    content: "\2193";
                    margin-left: 15px;
                }
            }
            &[data-direction="asc"] {
                &:after {
                    font-family: 'sans-serif';
                    content: "\2191";
                    margin-left: 15px;
                }
            }
        }

        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            button {
                border: none;
            }

            &.pagination {
                color: #6c6c6c;
                text-align: right;
                select {
                    width: 3rem;
                    appearance: none;
                    height: 1.6rem;
                    border-radius: 1px;
                    border: none;
                    padding: 0.2rem 0.5rem;
                    color: #555454;
                    background-image: url(../../../img/cms/cms/blocks/select-arrow.png);
                    background-color: #ffffff;
                    background-repeat: no-repeat;
                    background-position: center right;
                }

                a {
                    font-size: 24px;
                    text-decoration: none;
                    color: #6c6c6c
                }
            }
        }

        th.actions {
            width: 150px;
        }

        th {
            padding: 10px 15px 8px;
            color: #6c6c6c;
            font-weight: normal;
            text-transform: capitalize;
        }

        td {
            padding: 10px 15px 8px;
            color: #6c6c6c;
            font-weight: normal;
        }

        > tbody {
            > tr:nth-child(even) {
                background-color: $color-lighter-yet-gray;
            }
            > tr {
                border-bottom: 1px solid #e1e1e1;
            }
            tr:hover {
                background-color: $color-lackey-ligher-blue;
                cursor: pointer;
            }
        }
        > tfoot {
            text-align: left;
            td {
                //padding: 50px;
                padding-top: 20px;
                text-align: left;
            }
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    margin-left: 30px;
                    vertical-align: middle;
                    a {
                        img {
                            width: 30px;
                        }
                    }
                    &[data-lky-active] {
                        a {
                            background: #00CBFE;
                            color: #FAFBFC;
                        }
                    }
                }
                li:last-child {
                    a {
                        margin-right: 0px;
                    }
                }
            }

            $green: $color-lackey-blue;
            $blue: $color-lackey-blue;
            $red: $color-lackey-blue;
            $yellow: $color-lackey-blue;
            $white: #ffffff;

            // scaling... any units
            $width: 30px;
            .loader {
                position: relative;
                margin: 0 auto;
                width: $width;
                &:before {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }
            }
            .circular {
                animation: rotate 2s linear infinite;
                height: 100%;
                transform-origin: center center;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            .path {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
                animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
                stroke-linecap: round;
            }
            @keyframes rotate {
                100% {
                    transform: rotate(360deg);
                }
            }
            @keyframes dash {
                0% {
                    stroke-dasharray: 1, 200;
                    stroke-dashoffset: 0;
                }
                50% {
                    stroke-dasharray: 89, 200;
                    stroke-dashoffset: -35px;
                }
                100% {
                    stroke-dasharray: 89, 200;
                    stroke-dashoffset: -124px;
                }
            }
            @keyframes color {
                100%,
                0% {
                    stroke: $red;
                }
                40% {
                    stroke: $blue;
                }
                66% {
                    stroke: $green;
                }
                80%,
                90% {
                    stroke: $yellow;
                }
            }
        }
    }
}
