[data-lky-block] {
    display: flex;

    border: 2px solid $color-lackey-light-blue;
    margin-bottom: 10px;

    [data-lky-icon] {
        flex: 0 0 auto;
    }

    [data-lky-bin],
    [data-lky-cog] {
        opacity: 0.8;
        cursor: pointer;
    }

    > div {
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        border-left: 2px solid $color-lackey-light-blue;
    }

    &[data-lky-locked] {
        border-color: transparentize($color-lackey-light-gray, 0.5);

        [data-lky-icon], [data-lky-bin] { opacity: 0.2; }
        > div { border-left-color: transparentize($color-lackey-light-gray, 0.5); }
    }
}

[data-lky-hook="sections"] {
    > ul {
        > li {
            > span {
                color: $color-lackey-light-blue;
                display: block;
                padding: 10px 0px 5px;
            }
        }
    }
}

[data-lky-add-block] {
    border: none;

    display: inline-block;
    padding: 3px 6px;
    margin: 20px 0;

    font-size: 12px;
    font-weight: normal;

    border-radius: 7px;
    background-color: $color-lackey-blue;
    cursor: pointer;

    color: transparent;
    opacity: 0.05;

    transition:
        opacity 0.2s,
        color 0.2s;

    li:hover > & {
        opacity: 1;
        color: white;
    }
}

[data-lky-hook="settings.blocks"] {
    div {
        > ul > li {
            margin: 0 auto;
            text-align: center;
            width: 225px;

            &[data-lky-component][data-lky-type] > label {
                margin-bottom: 3px;
            }

            &[data-lky-editable]:not([data-lky-editable=true]) {
                > [data-lky-block] {
                    position: relative;

                    &:after {
                        content: "";

                        position: absolute;
                        left: 0; right: 0;
                        top: 0; bottom: 0;

                        background-image: url(../../../img/cms/cms/svg/block/lock.svg);
                        background-position: left top;
                        background-repeat: no-repeat;

                        pointer-events: none;
                    }

                    > img { opacity: 0.65; }
                }
            }
        }
    }
}
