[data-lky-block] {
    display: flex;
    padding: 0;

    border: 2px solid $color-lackey-light-blue;

    [data-lky-icon] {
        flex: 0 0 auto;
    }

    [data-lky-bin],
    [data-lky-cog] {
        opacity: 0.8;
        cursor: pointer;
    }

    > div {
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        border-left: 2px solid $color-lackey-light-blue;
    }

    &[data-lky-locked] {
        border-color: transparentize($color-lackey-light-gray, 0.5);

        [data-lky-icon], [data-lky-bin] { opacity: 0.2; }
        > div { border-left-color: transparentize($color-lackey-light-gray, 0.5); }
    }

    li[data-lky-editable]:not([data-lky-editable=true]) > & {
        position: relative;

        &:after {
            content: "";

            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;

            background-image: url(../../../img/cms/cms/svg/block/lock.svg);
            background-position: left top;
            background-repeat: no-repeat;

            pointer-events: none;
        }

        > img { opacity: 0.65; }
    }
}

[data-lky-hook="sections"] {
    &:empty:after {
        content: "Blocks cannot be added to this element.";
    }

    > ul {
        > li {
            > span {
                color: $color-lackey-light-blue;
                display: block;
                padding: 10px 0px 5px;
            }
        }
    }
}

[data-lky-add-block] {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;

    position: relative;
    display: block;
    width: 100%;
    height: 30px;

    cursor: copy;

    &:before {
        content: "";

        position: absolute;
        left: 0; right: 0;
        top: 50%;
        width: 100%;
        height: 2px;

        background-color: $color-lackey-blue;
        pointer-events: none;

        transform-origin: left;
    }

    &:after {
        $circle-size: 1.25rem;
        content: "";

        position: absolute;
        left: -$circle-size;
        top: 50%;
        width: $circle-size;
        height: $circle-size;

        background: {
            image: url(../../../img/cms/cms/svg/ui/add-block.svg);
            size: 100%;
        }
        border-radius: 100%;
    }

    li + li > & { margin-top: 5px; }

    li:not(:hover) > & {
        opacity: 0;

        transition: opacity 0.3s $timing-material-accelerate;

        &:before {
            transform: translateY(-50%) scaleX(0.00001);

            transition: transform 0s 0.3s;
        }

        &:after {
            transform: translateY(-50%) scale(0.00001);

            transition: transform 0s 0.3s;
        }
    }
    li:hover > & {
        opacity: 1;

        transition: opacity 0.1s;

        &:before {
            transform: translateY(-50%);

            transition: transform 0.25s 0.25s $timing-material-sharp;
        }

        &:after {
            transform: translateY(-50%);

            transition: transform 0.3s $timing-material-decelerate;
        }
    }
}

[data-lky-hook="lackey"] [data-lky-hook="main-area"] [data-lky-component="settings"] [data-lky-hook="settings.blocks"] {
    display: flex;

    div {
        > ul > li {
            margin: 0 auto;
            text-align: center;
            width: 225px;

            &[data-lky-component][data-lky-type] > label {
                margin-bottom: 3px;
            }

            &:first-child:last-child > [data-lky-add-block] {
                opacity: 1;
                color: white;
            }
        }
    }
}
