.content-filter {
    margin: 0 2rem;
    background: lighten($color-background-highlight, 35%);
    padding: 2rem;
    display: flex;
    position: relative;

    button.reset {
        appearance: none;
        background: lighten($color-background-highlight, 35%);
        color: $color-background-highlight;
        border: 0;
        font-size: 0.8rem;
        position: absolute;
        bottom: 0.1rem;
        right: 0.1rem;
    }

    div.col {
        display: inline;

        > div.row {
            margin-bottom: 0.5rem;
            display: flex;

            &:last-of-type { margin: 0; }
        }
    }

    div.col {
       width: 50%;
    }

    div.tag-container {
        button {
            display: block;
        }
    }

    label {
        width: 7rem;
        color: #6c6c6c;
        align-self: center;

        &.small {
            font-size: 0.5rem;
            width: auto;
            margin-right: 0.2rem;
        }
    }

    .tag-container {
        display: inline;
    }

    select {
        appearance: none;
        width: 11rem;
        height: 2rem;
        border-radius: 1px;
        border: 1px solid #b9b9b9;
        padding: 0.2rem 0.5rem;
        color: #555454;
        background-image: url(../../../img/cms/cms/blocks/select-arrow.png);
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: center right;
        align-self: center;
    }

    button {
        appearance: none;
        background: $color-background-highlight;
        border: 0;
        border-radius: 3px;
        color: #ffffff;
        padding: 0.2rem 0.5rem;
        margin: 0 0 0.5rem 0.5rem;
        cursor: pointer;
        font-size: 0.6rem;

        &:focus { outline:0; }

        &::after {
            font-family: Arial;
            content: "✖";
            font-size: 0.8rem;
            margin-left: 1rem;
        }

        &.reset {
            &::after {
                content: '';
                margin: 0;
            }
        }
    }

    input[type=date] {
        width: 5rem;
        appearance: none;
        border-radius: 1px;
        border: 1px solid #b9b9b9;
        font-family: 'Roboto';
        font-size: 0.6rem;
        padding: 0.1rem;

        &:first-of-type {
            margin-right: 0.3rem;
        }
    }
}











