.create-page {
    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

     label {
        color: #6c6c6c;
        align-self: center;

         &.choose {
            margin: 2rem 0 0 0;
         }
    }

    .name {
        display: flex;
        justify-content: flex-start;

        label {
            margin-right: 1rem;
        }

        input {
            flex: 1 1 auto;
        }
    }

    .table {
        th {
            padding: 0;
            margin-top: 0.5rem;
        }
    }

    button {
        appearance: none;
        background: $color-background-highlight;
        border: 0;
        outline: 0;
        color: #ffffff;
        padding: 0.2rem 0.5rem;
        margin: 0 0 0.5rem 0.5rem;
        cursor: pointer;
        font-size: 13px;
        padding: 6px 10px;
        text-decoration: none;
        cursor: default;

        &[type=submit] {
            margin-top: 2rem;
        }
    }
}











