[data-hamburger] {
    padding: $hamburger-padding-y $hamburger-padding-x;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: $hamburger-hover-transition-duration;
    transition-timing-function: $hamburger-hover-transition-timing-function;
    &:hover {
        @if $hamburger-hover-use-filter==true {
            filter: $hamburger-hover-filter;
        }
        @else {
            opacity: $hamburger-hover-opacity;
        }
    }
    .hamburger-box {
        width: $hamburger-layer-width;
        height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
        display: inline-block;
        position: relative;
        .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: $hamburger-layer-height / -2;
            &,
            &::before,
            &::after {
                width: $hamburger-layer-width;
                height: $hamburger-layer-height;
                background-color: $color-white;
                border-radius: $hamburger-layer-border-radius;
                position: absolute;
                transition-property: transform;
                transition-duration: 0.15s;
                transition-timing-function: ease;
            }
            &::before,
            &::after {
                content: "";
                display: block;
            }
            &::before {
                top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
                transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
            &::after {
                bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
                transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }
    }
    &:hover {
        .hamburger-inner {
            &::before {
                top: 0;
                transform: translate3d($hamburger-layer-width * 0.2, $hamburger-layer-width * -0.25, 0) rotate(45deg) scale(0.7, 1);
                transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            }
            &::after {
                bottom: 0;
                transform: translate3d($hamburger-layer-width * 0.2, $hamburger-layer-width * 0.25, 0) rotate(-45deg) scale(0.7, 1);
                transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            }
        }
    }
}
