[data-lky-hook="menu"] {
    width: $sidebar-width;
    height: 100%;
    color: $color-white;
    background-color: $color-background;
    [data-lky-hook="menu.logo"] {
        height: $header-height;
        line-height: $header-height;
        padding-left: $item-height * 0.6;
        width: 100%;
        background-color: $color-background-highlight;
        vertical-align: middle;
        text-transform: uppercase;

        > img {
            margin-right: 0.75em;
            vertical-align: middle;
        }
    }
    [data-lky-hook="menu.items"] {
        width: 100%;
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: block;
        > li {
            display: block;
            height: $item-height;
            line-height: $item-height;
            padding-left: $item-height * 0.6;

            > a {
                display: inline-block;
                color: $color-white;
                text-transform: uppercase;
                text-decoration: none;
                vertical-align: middle;

                > img {
                    margin-right: 0.75em;
                    vertical-align: middle;
                }
            }

            &.active {
                background-color: $color-background-accent;
            }

            &[data-class="divider"] {
                height: 1px;
                border-top: 1px solid $color-washed;
            }
        }
    }
}
