        [data-lky-component="settings"] {
            position: absolute;
            top: 0px;
            left: 0px;
            box-shadow: 3px 23px 23px -2px rgba(0, 0, 0, 0.52);
            height: 100%;
            [data-lky-hook="settings.breadcrumbs"] {
                cursor: pointer;
                height: $item-height;
                line-height: $item-height;
                width: 100%;
                color: $color-white;
                text-transform: uppercase;
                background-color: $color-background-highlight;
                box-sizing: border-box;
            }
            [data-lky-hook="settings.pick"] {
                width: $settings-pick-width;
                background-color: $color-background;
                height: 100%;
                float: left;
                > ul {
                    padding: 0px;
                    margin: 0px;
                    > li {
                        display: block;
                        height: $item-height;
                        line-height: $item-height;
                        padding-left: 20px;
                        text-aling: left;
                        border-bottom: 1px solid $color-washed;
                        cursor: pointer;
                        > a {
                            color: $color-white;
                            pointer-events: none;
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                }
            }
            label {
                margin: 5px 0px 15px;
                display: block;
                color: $color-background-highlight;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 500;
                > span {
                    display: block;
                    padding: 0px 0px 5px;
                }
                > input,
                select {
                    border: 1px solid $color-background-highlight;
                    border-radius: 3px;
                    display: block;
                    width: 100%;
                    text-transform: none;
                    font-weight: normal;
                    padding: 5px;
                    color: $color-light-gray;
                }
            }
            [data-lky-hook="settings.picker"] {
                background-color: white;
                color: $color-black;
                height: 100%;
                float: left;
                transition: width $speed;
                overflow-x: hidden;
                overflow-y: auto;
                width: $settings-pick-width;
            }
            [data-lky-hook="settings.picker"],
            [data-lky-hook="settings.gallery"] {
                input[type="search"] {
                    border: 1px solid $color-background-highlight;
                    color: $color-light-gray;
                    border-radius: 30px;
                    padding: 8px 10px;
                    width: 100%;
                }
            }
            [data-lky-hook="settings.picker"] {
                ul {
                    list-style: none;
                    padding: 15px 25px;
                    margin: 0px;
                    li {
                        img {
                            display: block;
                            margin: auto;
                        }
                        > span {
                            margin-top: 10px;
                            width: 100%;
                            display: block;
                            text-align: center;
                        }
                        > button {
                            float: right;
                            height: 65px;
                            border-radius: 5px;
                        }
                        border-bottom: 1px solid lighten($color-lackey-light-gray, 30%);
                    }
                }
            }
            [data-lky-hook="settings.overlay"] {
                position: fixed;
                top: $header-height;
                left: 0px;
                width: 100%;
                height: 100%;
                opacity: 0;
                pointer-events: none;
                background-color: $color-background-highlight;
                transform: transition;
                transition: transform $speed, opacity $speed;
            }
            [data-lky-hook="settings.back"] {
                display: inline-block;
                height: 40px;
                margin-top: 10px;
                float: left;
            }
        }
