section.table-header {
    padding-top: 4rem;
    display: flex;
    flex-flow: wrap;
    flex-wrap: wrap;
    justify-content: space-between;

    .left, .right {
        display: flex;
        flex-flow: wrap;
        flex-wrap: wrap;
    }

    .left {
        justify-content: flex-start;
    }

    .right {
        justify-content: flex-end;
    }

    section.content-filter {
        flex: 1 1 100%;
    }

    .table-header {
        flex: 1 1 100%;
    }
}
