.tree-view {
    ul {
        list-style: none;
        padding: 5px 10px;
        margin: 0px;
    }
    li {
        list-style: none;

        .fa {
            margin-right: 5px;
        }
    }
}
