@font-face {
    font-family: "Geomanist";
    src: url("../../fonts/core/geomanist/light.eot");
    src: url("../../fonts/core/geomanist/light.eot?#iefix") format("embedded-opentype"),
         url("../../fonts/core/geomanist/light.woff2") format("woff2"),
         url("../../fonts/core/geomanist/light.woff") format("woff"),
         url("../../fonts/core/geomanist/light.ttf") format("truetype"),
         url("../../fonts/core/geomanist/light.svg#geomanistbold") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Geomanist";
    src: url("../../fonts/core/geomanist/regular.eot");
    src: url("../../fonts/core/geomanist/regular.eot?#iefix") format("embedded-opentype"),
         url("../../fonts/core/geomanist/regular.woff2") format("woff2"),
         url("../../fonts/core/geomanist/regular.woff") format("woff"),
         url("../../fonts/core/geomanist/regular.ttf") format("truetype"),
         url("../../fonts/core/geomanist/regular.svg#geomanist_regularregular") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Geomanist";
    src: url("../../fonts/core/geomanist/medium.eot");
    src: url("../../fonts/core/geomanist/medium.eot?#iefix") format("embedded-opentype"),
         url("../../fonts/core/geomanist/medium.woff2") format("woff2"),
         url("../../fonts/core/geomanist/medium.woff") format("woff"),
         url("../../fonts/core/geomanist/medium.ttf") format("truetype"),
         url("../../fonts/core/geomanist/medium.svg#geomanistmedium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Geomanist";
    src: url("../../fonts/core/geomanist/bold.eot");
    src: url("../../fonts/core/geomanist/bold.eot?#iefix") format("embedded-opentype"),
         url("../../fonts/core/geomanist/bold.woff2") format("woff2"),
         url("../../fonts/core/geomanist/bold.woff") format("woff"),
         url("../../fonts/core/geomanist/bold.ttf") format("truetype"),
         url("../../fonts/core/geomanist/bold.svg#geomanistbold") format("svg");
    font-weight: 700;
    font-style: normal;
}
