    .image-manager {
        .sidebar {
            float: left;
            height: inherit;
            width: 300px;
            [data-lky-hook="list"] {
                overflow-y: auto;
                height: 100%;
            }
        }
        .miniatures {
            list-style: none;
            li {
                float: left;
                img {
                    height: 100px;
                }
            }
        }
    }
